@page "/"
@using TodoSQLiteMaui.Models
@using TodoSQLiteMaui.Services

<h3>Lista de Tareas (@ListaTareas.Count(todo => !todo.IsDone))</h3>

<input placeholder="Escriba la tarea" @bind="NombreTareaAGuardar" />
<button @onclick="AgregarTarea">Guardar Tarea</button>
<br />
<br />

<ul class="list-unstyled">
    @foreach (var todo in ListaTareas)
    {
        <li>
            <input type="checkbox" onclick="@(()=> muestraNombreSeleccionado(""))" @bind="todo.IsDone" />
            <input id="@todo.ID" @bind="todo.Name" />
        </li>
    }
</ul>

@code {
    TodoItem NuevaTareaGuardar;
    private List<TodoItem> ListaTareas = new();
    private string NombreTareaAGuardar;

    TodoItemService servicioBaseDatos = new TodoItemService();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        ListaTareas = await servicioBaseDatos.ConsultaTodasLasTareas();
    }

    private void muestraNombreSeleccionado(string nombreSeleccionado)
    {
        NombreTareaAGuardar = nombreSeleccionado;
    }

    private async void AgregarTarea()
    {
        if (!string.IsNullOrWhiteSpace(NombreTareaAGuardar))
        {
            NuevaTareaGuardar = new TodoItem
            {
                Name = NombreTareaAGuardar,
                Notes = "",
                IsDone = false
            };

            ListaTareas.Add(NuevaTareaGuardar);
            var response = await servicioBaseDatos.GuardarTareaEnBD(NuevaTareaGuardar);
            NombreTareaAGuardar = string.Empty;

            if (response > 0)
            {
                await Application.Current.MainPage.DisplayAlert("Tarea guardada exitosamente", 
                "Se ha guardado la tarea: " + NuevaTareaGuardar.Name, "OK");
            }
            
        }
        else
        {
            await Application.Current.MainPage.DisplayAlert("Nombre de la tarea requerido", 
            "Por favor digite el nombre de la tarea a guardar", "OK");
            return;
        }
    }

}