@page "/updateTodo/{elIdParametro}"
@using TodoSQLiteMaui.Models
@using TodoSQLiteMaui.Services
@inject NavigationManager navigationManager

<h3>Modificar tarea #@idRecibido</h3>

<input placeholder="Escriba la tarea"  @bind="NombreTareaModificar" />
<button @onclick="ModificarTarea">Guardar Tarea</button>
<br />
<br />

@code {
    [Parameter]
    public string elIdParametro { get; set; }
    
    private string idRecibido;
    private string NombreTareaModificar = string.Empty;
    TodoItem TareaAModificar;
    TodoItemService servicioBaseDatos = new TodoItemService();

    protected override async Task OnParametersSetAsync()
    {
        idRecibido = elIdParametro;
        await Task.Delay(500);
        TareaAModificar = await servicioBaseDatos.ConsultaUnaTarea(Int32.Parse(idRecibido));
        NombreTareaModificar = TareaAModificar.Name;
    }

    private async void ModificarTarea()
    {
        TareaAModificar.Name = NombreTareaModificar;
        if (!string.IsNullOrWhiteSpace(TareaAModificar.Name))
        {
            var response = await servicioBaseDatos.GuardarTareaEnBD(TareaAModificar);

            if (response > 0)
            {
                await Application.Current.MainPage.DisplayAlert("Tarea guardada exitosamente",
                "Se ha guardado la tarea: " + NombreTareaModificar, "OK");
            }
        }
        navigationManager.NavigateTo("/");
    }

}
